<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 height-fix"  *ngFor="let list  of cart">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{list.title}}</h4>
                        
                        <p class="card-category">
                            {{list.price}}
                        </p>
                    </div>
                    <img [src]="list.image">
                   
                </div>
            </div>
          

        </div>
    </div>


</div>
